.sub {
    display: block;
    margin:  0 auto;
    padding: 10px 30px 30px 30px;
    border-radius: 20px;
    background-color: rgba(27, 28, 27, 0.1);
    color: #1b1c1b;
    text-align: center;
    margin-bottom: 10px;
}

.subscribetitle {
    text-align: center;
    font-weight: 900;
    font-size: 20px;
}

.subbtn {
    font-family: 'Roboto Mono';
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    background-color: rgba(252, 115, 81, 0.4);

}
.inputbd-email {
    border-radius: 5px;
    border: none;
    padding: 2px;
    background-color: #e9edf5;
}

.display {
    visibility: visible;
    display: block;
    margin:  0 auto;
    border-radius: 20px;
    background-color: none;
    color: #1b1c1b;
    text-align: center;
}