.site-footer {
  background-color: #1b1c1b;
  color: #515151;
  position: relative;
}
.container {
  text-align: right;
  margin-right: 25px;
}

.socialcontainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.social {
  color: white;
  margin-top: 10px;
  display: inline-flex;
  margin-right: 20px;
  margin-left: 20px;
}

a.facebook {
  color: white;
  display: inline-flex;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
.social:hover {
  transform: scale(1.1, 1.1);
}