.emailsub {
    display: block;
    color: #e9edf5;
    border: none;
    align-content: center;
    text-align: center;
    font-family: "Roboto Mono";
}

iframe {
    border-width: 0px;
    height: 120px;
    bottom: 20px;
    overflow: hidden;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
