* {
    box-sizing: border-box;
  }
  body {
    color: #1b1c1b;
    background-color: #e9edf5;
    font-size: 100%;
    margin: 0;
    line-height: 1.4283;
    font-family: "Roboto Mono";
  }
  h1,
  h2,
  h3 {
    font-weight: 400;
  }
  /*a {
    color: #fc7351;
    text-decoration: none;
  }
  */