* {
    box-sizing: border-box;
  }
  body {
    color: #1b1c1b;
    background-color: #e9edf5;
    font-size: 100%;
    margin: 0;
    line-height: 1.4283;
    font-family: "Roboto Mono";
  }
  h1,
  h2,
  h3 {
    font-weight: 400;
  }
  /*a {
    color: #fc7351;
    text-decoration: none;
  }
  */

  a:hover {
    color: #fc7351;
  }

  a {
    text-decoration: none;
  }

  /* MY COLORS:

  black: #1b1c1b
  grey: #736d6d
  white: #e9edf5
  blue: #6893e3
  orange: #fc7351
  */